.profilecontainer{
    background-color: rgb(41, 47, 50);
    min-height: 63px;
    color:rgb(177, 179, 181);
    font-weight: 500;
    font-size: large;
    padding-top: 12px;
    padding-left: 24px;
    width: auto;
    width: 431px;
    }   
.profileimage{
    width: 51px;
    border-radius: 50%;
}