.AppConteiner{
    display: flex;
    flex-direction: row;
}
.LeftConteiner{
    width: 31%;
    min-width: 1px;
    height: auto;
    min-height: 30px;
    background-color: yellow;
    border-right: solid 1px rgb(177,179, 181);
}
.RightConteiner{
    width: 31%;
    min-width: 250px;
    height: auto;
    min-height: 30px;
    background-color: yellow;
    border-right: solid 1px rgb(177,179, 181);
}